<header>
  <nav>
    <button nz-button nzType="primary" routerLink="/crisis-center" routerLinkActive="active">Crisis Center</button>
    <button nz-button nzType="primary" routerLink="/tour" routerLinkActive="active">Heroes</button>
    <button nz-button nzType="primary" routerLink="/ad">动态加载组件</button>
    <button nz-button nzType="primary" routerLink="/web-com">自定义元素</button>
    <button nz-button nzType="primary" routerLink="/direct">自定义指令</button>
    <button nz-button nzType="primary" routerLink="/form"  routerLinkActive="active">表单</button>
    <button nz-button nzType="primary" routerLink="/life"  routerLinkActive="active">生命周期</button>
    <button nz-button nzType="primary" routerLink="/mylib"  routerLinkActive="active">lib</button>
  </nav>
</header>
<section class="app-content">
  <router-outlet></router-outlet>
</section>
<footer>
  <app-messages></app-messages>
</footer>
